#!/usr/bin/env python
PACKAGE = "sensorless_force_control"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# PID gains (6 channels) — defaults match initializeController() in cpp
gen.add("pid_kp_1", double_t, 0, "PID Kp x",   20.0, 0.0, 100.0)
gen.add("pid_kp_2", double_t, 0, "PID Kp y",   20.0, 0.0, 100.0)
gen.add("pid_kp_3", double_t, 0, "PID Kp z",   50.0, 0.0, 100.0)
gen.add("pid_kp_4", double_t, 0, "PID Kp rx",   0.0, 0.0, 100.0)
gen.add("pid_kp_5", double_t, 0, "PID Kp ry",  20.0, 0.0, 100.0)
gen.add("pid_kp_6", double_t, 0, "PID Kp rz",  20.0, 0.0, 100.0)

gen.add("pid_ki_1", double_t, 0, "PID Ki x",    0.05, 0.0, 50.0)
gen.add("pid_ki_2", double_t, 0, "PID Ki y",    0.05, 0.0, 50.0)
gen.add("pid_ki_3", double_t, 0, "PID Ki z",    0.5, 0.0, 50.0)
gen.add("pid_ki_4", double_t, 0, "PID Ki rx",   0.0, 0.0, 50.0)
gen.add("pid_ki_5", double_t, 0, "PID Ki ry",   4.0, 0.0, 50.0)
gen.add("pid_ki_6", double_t, 0, "PID Ki rz",   0.0, 0.0, 50.0)

gen.add("pid_kd_1", double_t, 0, "PID Kd x",    8.0, 0.0, 50.0)
gen.add("pid_kd_2", double_t, 0, "PID Kd y",    8.0, 0.0, 50.0)
gen.add("pid_kd_3", double_t, 0, "PID Kd z",    20.0, 0.0, 50.0)
gen.add("pid_kd_4", double_t, 0, "PID Kd rx",   0.0, 0.0, 50.0)
gen.add("pid_kd_5", double_t, 0, "PID Kd ry",   0.0, 0.0, 50.0)
gen.add("pid_kd_6", double_t, 0, "PID Kd rz",   50.0, 0.0, 50.0)

# Kinematic task parameters
gen.add("xyz_ref_1",     double_t, 0, "Desired vehicle X [m]",   0.0,  -50.0, 50.0)
gen.add("xyz_ref_2",     double_t, 0, "Desired vehicle Y [m]",   0.0,  -50.0, 50.0)
gen.add("xyz_ref_3",     double_t, 0, "Desired vehicle Z [m]",   2.0,    0.0, 50.0)
gen.add("desired_pitch", double_t, 0, "Desired pitch [rad]",     0.0,   -0.5,  0.5)

gen.add("ref_rpy_3",  double_t, 0, "Ref yaw [rad]",   0.5, -3.2, 3.2)
gen.add("gain_rpy_1", double_t, 0, "Gain roll",        0.0,  0.0, 50.0)
gen.add("gain_rpy_2", double_t, 0, "Gain pitch",       1.0,  0.0, 50.0)
gen.add("gain_rpy_3", double_t, 0, "Gain yaw",         2.0,  0.0, 50.0)

gen.add("gain_nc",    double_t, 0, "Nominal config gain (uniform)", 0.1, 0.0, 2.0)
gen.add("dq_lim",     double_t, 0, "Joint velocity limit [rad/s]",  0.3, 0.0, 2.0)

# QP allocator working-point bias (first 4 thrusters, last 2 = 0)
gen.add("allocator_desired_input", double_t, 0, "QP allocator desired input [0,1]", 0.55, 0.0, 1.0)
gen.add("allocator_offset",        double_t, 0, "Allocator DLS offset",             0.0,  0.0, 100.0)

# Runtime enable switches
gen.add("enable_thruster_command", bool_t, 0, "Send command to thrusters",       False)
gen.add("enable_arm_command",      bool_t, 0, "Send command to manipulator arm", False)

exit(gen.generate(PACKAGE, "sensorless_force_control", "ControllerCollectData"))
